<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<environments default="clase">
		<environment id="clase">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost/bd_mantenimiento" />
				<property name="username" value="root" />
				<property name="password" value="msql" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mybatis/mapper/ProductoMapper.xml" />
		<mapper resource="mybatis/mapper/VendedorMapper.xml" />
	</mappers>

</configuration>
